/* Defaults */
.none{display:none;}
.hidden{visibility:hidden;}
.opaque{opactity:0;}
.left{float:left;}
.right{float:right;}
.clearfix{clear:both;}
.fixed{position:fixed;}

/*/////////////////////////////////////////      FONT      /////////////////////////////////////////*/

/* Pizzahut Font */ 

@font-face {
    font-family: 'usc-medium';
    src: url('../css/fonts/usc/UnitedSansSemiCond-Medium_gdi.eot');
    src: url('../css/fonts/usc/UnitedSansSemiCond-Medium_gdi.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/usc/UnitedSansSemiCond-Medium_gdi.woff2') format('woff2'),
         url('../css/fonts/usc/UnitedSansSemiCond-Medium_gdi.woff') format('woff'),
         url('../css/fonts/usc/UnitedSansSemiCond-Medium_gdi.ttf') format('truetype'),
         url('../css/fonts/usc/UnitedSansSemiCond-Medium_gdi.svg#UnitedSansSemiCond-Medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'usc-bold';
    src: url('../css/fonts/usc/UnitedSansSemiCond-Bold.eot');
    src: url('../css/fonts/usc/UnitedSansSemiCond-Bold.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/usc/UnitedSansSemiCond-Bold.woff2') format('woff2'),
         url('../css/fonts/usc/UnitedSansSemiCond-Bold.woff') format('woff'),
         url('../css/fonts/usc/UnitedSansSemiCond-Bold.ttf') format('truetype'),
         url('../css/fonts/usc/UnitedSansSemiCond-Bold.svg#UnitedSansSemiCond-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
 
/* Helvetica Font */ 
 
@font-face {
    font-family: 'helvetica-light';
    src: url('../css/fonts/helvetica/helveticaltstdlight.eot');
    src: url('../css/fonts/helvetica/helveticaltstdlight.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/helvetica/helveticaltstdlight.woff2') format('woff2'),
         url('../css/fonts/helvetica/helveticaltstdlight.woff') format('woff'),
         url('../css/fonts/helvetica/helveticaltstdlight.ttf') format('truetype'),
         url('../css/fonts/helvetica/helveticaltstdlight.svg#UnitedSansSemiCond-Medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica-bold';
    src: url('../css/fonts/helvetica/helveticaltstdbold.eot');
    src: url('../css/fonts/helvetica/helveticaltstdbold.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/helvetica/helveticaltstdbold.woff2') format('woff2'),
         url('../css/fonts/helvetica/helveticaltstdbold.woff') format('woff'),
         url('../css/fonts/helvetica/helveticaltstdbold.ttf') format('truetype'),
         url('../css/fonts/helvetica/helveticaltstdbold.svg#UnitedSansSemiCond-Medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* TL Font */

@font-face {
    font-family: 'tl';
    src: url('../css/fonts/tl/abakutlsymsans.eot');
    src: url('../css/fonts/tl/abakutlsymsans.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/tl/abakutlsymsans.woff2') format('woff2'),
         url('../css/fonts/tl/abakutlsymsans.woff') format('woff'),
         url('../css/fonts/tl/abakutlsymsans.ttf') format('truetype'),
         url('../css/fonts/tl/abakutlsymsans.svg#UnitedSansSemiCond-Medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

 
/*/////////////////////////////////////////      GENEL      /////////////////////////////////////////*/

* {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family:'usc-bold';
	font-size:13px;
	color:#FFF;
	font-weight:400;
	font-style:normal;
	text-align:left;
	line-height:1;
	margin:0;
	padding:0;
	border:none;
	outline:none;
	vertical-align:baseline;
	text-decoration:none;
	list-style:none
}


/*/////////////////////////////////////////      GENERAL      /////////////////////////////////////////*/

body {background:#1b1b1a url(../images/pageBg.jpg) repeat-y center top;}
.right {float:right;}
.left {float:left;}


/*/////////////////////////////////////////      ICON      /////////////////////////////////////////*/

.icon {background: url(../images/sprite.png) no-repeat 0 0;}


/*/////////////////////////////////////////      PIZZAHUT CSS      /////////////////////////////////////////*/

.containWrapper {max-width:1140px; padding:0 20px; margin:0 auto; position:relative;}


/*/////////////////////////////////////////      HEADER      /////////////////////////////////////////*/

.headerWrapper {width:100%; text-align:center;}
.pageHeader {max-width:1140px; width:100%; padding:10px 20px; margin:0 auto; position:relative; display:inline-block;}
.pageHeader .logo {float:left;}
.pageHeader .mobileCol {float:left; margin-left:65px;}
.pageHeader .mobileCol a {font-size:20px; color:#888; letter-spacing: 0.2px; padding:24px 25px 22px 0; float:left; position:relative;}
.pageHeader .mobileCol a.menuLink:after {content:''; width:11px; height:7px; background:url(../images/sprite.png) -71px -68px no-repeat; margin-left: 10px; position:relative; top:-2px; display:inline-block;}
.pageHeader .login {float:right; padding: 24px 20px;}
.pageHeader .login .memberInfo {font-size:14px; font-family: 'helvetica-light'; color:#888; float: left; padding-right:10px;}
.pageHeader .login .account {float:right; padding-left:10px;}
.pageHeader .login .account:before {content:''; width:1px; height:10px; background-color:#888; position: relative; right: 10px; display:inline-block;}
.pageHeader .login .account a {font-size:14px; color:#888; line-height:17px; font-family: 'usc-medium';}
.pageHeader .login .account a:hover {color:#fff;}

/* Mini Basket */

.pageHeader .miniBasket {width:100%; display:inline-block; float:right;}

/**/

.pageHeader .basketAdd { width:315px; float:right; border: 4px solid rgba(0,0,0, 0.2); border-radius: 12px; display: inline-block;}
.pageHeader .basketAdd a {width:100%; border-radius: 7px; padding:20px 10px 20px 40px; display:inline-block; /* Btn Gradient */ background: rgba(236,53,62,1);
background: -moz-linear-gradient(-35deg, rgba(236,53,62,1) 20%, rgba(255,61,71,1) 35%, rgba(233,44,53,1) 36%, rgba(233,44,53,1) 61%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(20%, rgba(236,53,62,1)), color-stop(35%, rgba(255,61,71,1)), color-stop(36%, rgba(233,44,53,1)), color-stop(61%, rgba(233,44,53,1)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(-35deg, rgba(236,53,62,1) 20%, rgba(255,61,71,1) 35%, rgba(233,44,53,1) 36%, rgba(233,44,53,1) 61%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(-35deg, rgba(236,53,62,1) 20%, rgba(255,61,71,1) 35%, rgba(233,44,53,1) 36%, rgba(233,44,53,1) 61%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(-35deg, rgba(236,53,62,1) 20%, rgba(255,61,71,1) 35%, rgba(233,44,53,1) 36%, rgba(233,44,53,1) 61%, rgba(231,56,39,1) 100%);
background: linear-gradient(135deg, rgba(236,53,62,1) 20%, rgba(255,61,71,1) 35%, rgba(233,44,53,1) 36%, rgba(233,44,53,1) 61%, rgba(231,56,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec353e', endColorstr='#e73827', GradientType=1 );}
.pageHeader .basketAdd a span {font-size:26px;}
.pageHeader .basketAdd a i {width:8px; height:14px; background-position:-46px -97px; margin-left:55px; margin-right:15px; position: relative; top: -2px; display:inline-block;}

/**/

.pageHeader .miniBasket .miniBasketLeft {width: auto; margin-right: 320px;}
.miniBasketLeft .wrapper {width:100%; display:table; border-top: 1px solid #707070; border-bottom: 1px solid #707070; margin:3px 0;}
.miniBasketLeft .basketAdress {width:35%; float:left; padding:28px 30px 23px 20px; border-right:1px solid #707070; position:relative;}
.miniBasketLeft .basketAdress > a i {width:8px; height:14px; background-position:-46px -97px; float:right; display:inline-block;}
.miniBasketLeft .basketAdress h3 {font-size:18px; float:left; margin-right:5px;}
.miniBasketLeft .basketAdress h4 {font-size:18px; color:#929292; float:left;}
.miniBasketLeft .basketPrice {width:65%; padding:28px 30px 0 32px; float:left; position:relative;}
.miniBasketLeft .basketPrice > a i {width:8px; height:14px; background-position:-46px -97px; float:right; display:inline-block;}
.miniBasketLeft .basketPrice .basketName {font-size:18px; float:left;}
.miniBasketLeft .basketPrice .totalNumber {width:26px; height:25px; font-size:18px; text-align:center; position:relative; top:-4px; margin-left:8px; float:left; color:#000; background:#fed516; border-radius:20px; display: block; padding: 5px 0 3px 0;}
.miniBasketLeft .orderPrice {float:left; margin-left:16px; position:relative; top:-4px;}
.miniBasketLeft .orderPrice:before {content: "t"; font-family: "tl"; font-size: 18px; font-weight: normal; color:#fff; margin-right:3px;}
.miniBasketLeft .orderPrice span {color:#fff;}
.miniBasketLeft .orderPrice span.prcFirst {font-size:30px;}
.miniBasketLeft .orderPrice span.prcLast {font-size: 18px; vertical-align: top;}
.miniBasketLeft .orderPrice span.currency {display:none;}


/*/////////////////////////////////////////      PRODUCT LIST      /////////////////////////////////////////*/

.productList{width:100%; padding:0 120px 0 230px;}
.productList .main{width:100%; min-height:500px; max-width:750px;}
.productList .main .listTitle{border-bottom: 1px solid #707070; padding: 15px 0 10px 0;}
.productList .main .listTitle h3{color:#FFF; font-size:56px; font-family:'usc-medium';}
.productList .main .listTitle span {color:#8c7053; font-size: 14px; font-family: 'helvetica-light';}
.productList .main > ul li{color:#FFF; font-size:12px; width:100%; padding:20px 0; display:inline-block; border-bottom: 1px solid #707070; }
.productList .main > ul li:last-child {border-bottom:0;}
.productList .main .species {background-color:#505050; padding:12px 20px 10px 20px;}
.productList .main .species h3 {color:#fff; font-size:20px; display:inline-block;}
.productList .main .species  i {float:right; width:18px; height:18px; background-position:0px -143px; display:inline-block;}

.productList .main > ul li .prdImage {float:left; padding-right:30px; max-width: 220px; width: 50%;}
.productList .main > ul li .contents {max-width:300px; padding: 20px 20px 0 0; float: left; width: 50%;}
.productList .main > ul li .contents h4 {color:#FFF; font-size:26px; letter-spacing:1px;}
.productList .main > ul li .contents span{color: #999; font-size: 14px; font-family: 'helvetica-light'; line-height: 24px; margin-right: 3px; position:relative; display: inline-block;}
.productList .main > ul li .contents span:after {content: ',';}
.productList .main > ul li .contents span:last-child:after{display:none;}
.productList .main > ul li .contents i.double {width:21px; height:17px; background-position:-190px 0px; position:relative; bottom:-2px; margin-right:10px; display:inline-block;}
.productList .main > ul li .contents i.threesome {width:21px; height:17px; background-position:-159px 0px; position:relative; bottom:-2px; margin-right:10px; display:inline-block;}
.productList .main > ul li .addLink {float:left; margin-top:35px;}
.productList .main > ul li .addBtn {border:2px solid #ee3a43; float:left; padding:8px 10px 4px 10px; margin-right:4px;} 
.productList .main > ul li .addBtn:hover {background:#ee3a43;}
.productList .main > ul li .addBtn span.prcFirst:before {content: "t"; font-family: "tl"; font-size: 18px; font-weight: normal; color: #fff; margin-right: 3px;}
.productList .main > ul li .addBtn span.prcFirst {font-size: 28px;}
.productList .main > ul li .addBtn span.prcLast {font-size: 16px; vertical-align: top;}
.productList .main > ul li .addBtn span.addText {font-size: 19px; padding-right:5px; position:relative; top:-2px; display:inline-block;}
.productList .main > ul li .addBtn:hover i.addIcon {width:8px; height:14px; background:url(../images/sprite.png) -46px -98px no-repeat; margin-left: 20px; display:inline-block;}  
.productList .main > ul li .addBtn i.addIcon {width:8px; height:14px; background:url(../images/sprite.png) -86px -98px no-repeat; margin-left: 20px; position:relative; top:-1px; display:inline-block;} 
 
.fixedPanel{position:fixed; top:100px; z-index:3; min-width:230px; top:190px;}
.fixedPanel ul.lvl1{position:relative}
.fixedPanel ul.lvl1 > li{position:absolute; width:100%}
.fixedPanel ul.lvl1 > li .sub{height:0; overflow:hidden;}
.fixedPanel ul.lvl1 > li.active .sub{height:auto; margin-top:20px;}
.fixedPanel ul.lvl1 > li .lvl2{padding-left:20px; opacity:0; -webkit-transition: opacity 222ms ease-in-out; -moz-transition: opacity 222ms ease-in-out;-o-transition: opacity 222ms ease-in-out; transition: opacity 222ms ease-in-out;}
.fixedPanel ul.lvl1 > li.active .lvl2{opacity:1;}
.fixedPanel ul.lvl1 > li.active .lvl2 li {line-height:25px;}
.fixedPanel ul.lvl1 > li .lvl2 li span{color:#fff; font-size:15px;}
.fixedPanel ul.lvl1 > li a:hover{text-decoration:none}
.fixedPanel ul.lvl1 > li > a span{font-size:14px; line-height:35px; -webkit-transition: all 222ms ease-in-out; -moz-transition: all 222ms ease-in-out;-o-transition: all 222ms ease-in-out; transition: all 222ms ease-in-out;}
.fixedPanel ul.lvl1 > li.active > a span{font-size:30px; padding-left: 20px; position:relative;}
.fixedPanel ul.lvl1 > li.active > a:before {content:''; width:10px; height:13px; background:url(../images/sprite.png) -47px -53px no-repeat; position:absolute; left:0px; top:8px; display:block;}

.pageMore  {float:right; width:40px; text-align:center; position:fixed; bottom:50px; right:50px;}
.pageMore  span {font-size:14px; color:#888;}
.pageMore i  {width:15px; height:30px; margin-top:10px; background-position:-107px -45px; display:inline-block;}


/*/////////////////////////////////////////      FOOTER      /////////////////////////////////////////*/

.footerWrapper {max-width:1100px; width:100%; padding:60px 20px; margin:0 auto; position:relative; border-top:1px solid #888; display:block;}
.footerWrapper .footerMenu {width:56%; float:left;}
.footerWrapper .footerMenu .footerList {float:left; width:33.333%; max-width:180px;}
.footerWrapper .footerMenu .footerList h4 {font-size: 20px; margin-bottom:35px;}
.footerWrapper .footerMenu .footerList ul li {margin-bottom:7px;}
.footerWrapper .footerMenu .footerList ul li a {font-size:14px; font-family: 'helvetica-light'; color:#999;}


/**/

.footerWrapper .footerInfo {width:44%; float:right;}
.footerWrapper .footerInfo .footerSocial {widht:100%; display:inline-block;}
.footerWrapper .footerInfo .footerSocial h4 {font-size:20px; color:#b1875d; margin-bottom: 35px;}
.footerWrapper .footerInfo .footerSocial ul li {float:left; margin-right:20px;}
.footerWrapper .footerInfo .footerSocial ul li  a {width:48px; height:48px; float:left; background:url(../images/socialIcon.png) no-repeat;}
.footerWrapper .footerInfo .footerSocial ul li  a.twitter {background-position:-66px 0;}
.footerWrapper .footerInfo .footerSocial ul li  a.gplus {background-position:-128px 0;}
.footerWrapper .footerInfo .footerSocial ul li  a.youtube {background-position:-194px 0;}
.footerWrapper  .footerIcon {width:100%; margin-top:55px; display:inline-block;}
.footerWrapper  .footerIcon .footerProduct {width:44%; float:right;}
.footerWrapper .footerIcon .footerProduct ul li {width:33.333%; float:left; display:inline-block; border-right:1px dashed #777; padding:0 15px;}
.footerWrapper .footerIcon .footerProduct ul li:last-child {border-right:0;}
.footerWrapper .footerIcon .footerProduct ul li  img {display:block; margin-bottom:20px;}
.footerWrapper .footerIcon .footerProduct ul li  span {font-size:14px; font-family: 'helvetica-light'; color:#999;}
.footerWrapper  .footerIcon .footerTel {width:56%; float:left;}

/**/

.footerWrapper .copyright {width:100%; display:inline-block; font-size:12px; font-family: 'helvetica-light'; margin-top:30px; color:#999;}

/*/////////////////////////////////////////      HOME PAGE      /////////////////////////////////////////*/

.homePage .pageHeader {padding-top:45px;}
.homePage .pageHeader .miniBasket {width:auto;}
.homePage .pageHeader .miniBasket .miniBasketLeft {display:none;}
.homePage .pageHeader .login {display:none;}

/**/

.homePage .homeSlider {width:100%; text-align:center; position:relative;}
.homePage .homeSlider .slider {max-width:1100px; width:100%; max-height: 510px; overflow: hidden; padding:0px; margin:0 auto; position:relative; display:block;}
.homePage .homeSlider .sliderImg {float:right; margin-right:70px;}
.homePage .homeSlider .sliderText {position: absolute; top: 80px; left: 70px;} 

/**/

.homePage .homeSlider .sliderNav {width:100%; text-align:center; position:absolute; bottom:0; background:rgba(0,0,0,0.5);}
.homePage .homeSlider .sliderNav .navInner {max-width:1100px; width:100%; display:block; margin:0 auto;}
.homePage .homeSlider .sliderNav ul li {float:left; width:25%; text-align:center; border-right:1px solid #7f7f7f;}
.homePage .homeSlider .sliderNav ul li:last-child {border:0;}
.homePage .homeSlider .sliderNav ul li a {width:100%; padding:10px 15px; display:inline-block;}
.homePage .homeSlider .sliderNav ul li a.active {background:rgba(220,40,50,0.8);}
.homePage .homeSlider .sliderNav ul li i {margin-right:15px; opacity:0.5;}
.homePage .homeSlider .sliderNav ul li  a.active i {opacity:1;}
.homePage .homeSlider .sliderNav ul li span {font-size:14px;}
.homePage .mainBox {width:100%; text-align:center; background: url(../images/pageGrey.jpg) no-repeat 0 0; background-size:cover;}
.homePage .mainBox .boxBanner {max-width:1160px; padding:60px 20px 60px 10px; margin:0 auto; position:relative; display:inline-block;}
.homePage .mainBox .boxBanner ul li {float:left; padding:10px; overflow:hidden;}
.homePage .mainBox .boxBanner ul li img {}
.homePage .mainBox .boxBanner ul li.boxBig {width:50%;}
.homePage .mainBox .boxBanner ul li.boxNormal {width:25%;}

/* Populer Slider - Favorite */

.tabSlider {width:100%; text-align:center; position:relative;}
.tabSlider .tabBtn {max-width:1100px; width:100%; text-align:center; display:block; margin:0 auto;}
.tabSlider .tabBtn ul {display:inline-block;}
.tabSlider .tabBtn ul li {float:left;}
.tabSlider .tabBtn ul li:first-child {margin-right:50px;}
.tabSlider .tabBtn ul li  a {display:inline-block; margin:45px 0 50px 0; position:relative;}
.tabSlider .tabBtn ul li  a.active:after {top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(136, 183, 213, 0); border-top-color: #ec3b45; border-width: 7px; margin-left: -7px;}
.tabSlider .tabBtn ul li  a h4 {font-size:25px; font-family: 'usc-medium'; text-shadow: 3px 3px 5px #000000;}
.tabSlider .tabBtn ul li  a.active  h4 {padding-bottom:10px; border-bottom:2px solid #ec3b45;}
.tabSlider .populerSlider {width: 100%; max-width: 1110px; text-align:center; padding: 0 80px; margin:0 auto 80px auto; position:relative; display:block;}
.tabSlider .populerSlider ul {display:inline-block; overflow:hidden; box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.6);}
.tabSlider .populerSlider ul li img {width:100%; float:left;}
.tabSlider .populerSlider .navBtn {position:absolute; top:45%; width:100%; left:0;}
.tabSlider .populerSlider .navBtn a i {width:22px; height:34px; background-image:url(../images/sprite.png); display:block;}
.tabSlider .populerSlider .navBtn a.nextBtn {float:right; margin-right:20px;}
.tabSlider .populerSlider .navBtn a.prevBtn {float:left; margin-left:20px;}
.tabSlider .populerSlider .navBtn a.nextBtn i {background-position: -78px -127px;}
.tabSlider .populerSlider .navBtn a.prevBtn i {background-position: -55px -127px;}

/*/////////////////////////////////////////      MOBILE      /////////////////////////////////////////*/

@media only screen and (max-width:780px) {

.smartHeader {width:100%; height:70px; background:url(../images/pageRed.jpg) center top no-repeat;}
.smartHeader > i.mmenu {width:35px; height:23px; background-position:0 -195px; display:inline-block; float:left;}

}